@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: 'jetbrains-sans'; /* Choose a name for your font */
    src: url('../fonts/JetBrainsSans-Regular.woff2') format('woff2');
}

* {
    font-family: jetbrains-sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-clr: #FFEDA8;
    --dark-clr: #003631;
    --bg-clr: #222327;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-clr);
}

.navigation {
    width: 180px;
    height: 1030px;
    background: var(--light-clr);
    border-radius: 30px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
}

.navigation ul {
    display: grid;
    height: 900px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    height: 180px;
    width: 180px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    text-align: center;
    font-weight: 1000;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 180px;
    font-size: 4em;
    text-align: center;
    color: var(--dark-clr);
    transition: 0.5s;
    top: 8px
}

.navigation ul li.active a .icon {
    transform: translateX(90px);
    color: var(--light-clr);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--dark-clr);
    font-weight: 500;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(50px);
    rotate: 90deg;
}

.navigation ul li.active a .text {
    opacity: 1;
    visibility: visible;
    transform: translateY(25px);
}

.indicator {
    position: absolute;
    right: -50%;
    width: 180px;
    height: 180px;
    background: var(--dark-clr);
    border-radius: 50%;
    border: var(--bg-clr) 10px solid;
    transition: 0.5s;
    justify-items: center;
}

.indicator::before{
    display: block;
    margin-left: -70px;
    margin-top: -45px;
}

.indicator::before {
    content: '';
    top: 50%;
    left: -22px;
    width: 70px;
    height: 40px;
    background: transparent;
    border-bottom-right-radius: 33px;
    box-shadow: 20px 0px 0px 0px var(--bg-clr);
}

.indicator::after {
    display: block;
    margin-left: -70px;
    margin-top: 170px;
}

.indicator::after {
    content: '';
    top: 50%;
    left: -22px;
    width: 70px;
    height: 40px;
    background: transparent;
    border-top-right-radius: 33px;
    box-shadow: 20px 0px 0px 0px var(--bg-clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateY(calc(180px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateY(calc(180px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateY(calc(180px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateY(calc(180px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateY(calc(180px * 4));
}
